/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  box-sizing: border-box;
}

/**/


/* .greeting {  
  box-shadow: 1px 5px 5px 1px#E5E5E5;
  border-bottom: 1px solid #AFAFAF;
} */

.greeting h1{
  margin: 0 0 20px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
}

.flexbox-rewards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rewards-div {
  margin: 0 2%;
        

}

.rewards-div p {
  /* text-align: center; */
  margin-left: 10%;
}
.rewards-content-img {
  border-radius: 12%;
  width: 100%;
  
}

.main-content-container {
  background-color: #F7F7F7;
  padding: 5% 0 100px 0;
}
.main-content-div {
  padding-bottom: 2%;
  background-color: white;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px #B7B7B7;
  border-radius: 1%;
  margin: 2% 20px;
} 

.main-content-img {
  width: 100%;
  border-top-right-radius: 1%;
  border-top-left-radius: 1%;
}

.main-content-div h2, p, button{
  margin: 2% 3%;
} 

.main-content-div button{
  background-color:#FF582B;
	border-radius: 28px;
	border: 1px solid #FF582B;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 10px;
  color: white;
}
.main-content-div button:hover {
	background-color:#3e8364;
}

.rewards-btn-one {
  background-color: #202C54;
	border-radius: 28px;
	border: 1px solid #202C54;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 10px;
  color: white;
}

.rewards-btn-two {
  margin: 0;
  background-color: white;
	border-radius: 28px;
	border: 1px solid black;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 10px;
  color: black;
}

.rewards-header {
  margin: 25px 0 25px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.fas {
  width: 25px;
}


/*navigation*/
nav .main-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.nav-item li:hover {
  color: #FF582B;
  transition: 0.5s;
}

ul {
  display: flex;
}

.left-nav li {
  list-style: none;
  padding: 22px 0 0 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

ul .left-nav {
  padding: 0 0 0 15px;
}

.right-nav li {
  list-style: none;
  padding: 22px 20px 0 0;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 0.9rem;
}

.logo {
  width: 55px;
  height: 55px;
}

.nav-btn-one {
  margin: 0;
  background-color: white;
	border-radius: 28px;
	border: 1px solid #202C54;
	cursor: pointer;
  padding: 6px 20px;
  margin: 20px;
  color: #202C54;
}

.nav-btn-one:hover {
  background-color: #F7F7F7;
}

.nav-btn-two {
  margin: 0;
  background-color: #202C54;
	border-radius: 28px;
	border: 1px solid white;
  cursor: pointer;
  padding: 6px 20px;
  margin: 20px 40px 20px 0;
  color: white;
}


.product-image {
  width: 90px;
  border-radius: 70%;
}
.order-menu-img {
  width: 65px;
  border-radius: 50%;
}

.drinks-div-flex {
  /* display: flex; */
}
.flex-center {
  flex-wrap: wrap;
    justify-content: center;
}

.coffee-card {
    display: flex;
    flex: 0 1 10px; /*  No stretching: */
    margin: 15px;
}

.menu-data-img {
  width: 140px;
  border-radius: 50%;
}

.menu-data-details-img {
  width: 400px;
  border-radius: 50%;
}

span {
  font-weight: 800;

}
.nutrition {
  width: 450px;
  display: grid;
  place-items: center;
}

/*gift card section*/
.giftcard-login {
  display: grid;
  place-items: center;
  padding-top: 50px;
  background-color: #F7F7F7;
}

.social-icons{
  width: 50px;
  color: red;
}